@model Shop.Models.Products.Product
@{
}

<h1>Product Page</h1>

<product>
    <ul>
        <li>Id: @Model.Id</li>
        <li>Name: @Model.Name</li>
        <li>Description: @Model.Description</li>
        <li>Price: @Model.Price</li>
    </ul>
</product>